body{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5ea364b1-8e59-4693-8ad8-f0eaee32d1bf/bdde5e68-8c91-445d-aa17-34c1083e96eb/MX-es-20220530-popsignuptwoweeks-perspective_alpha_website_medium.jpg);

}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.5);
}


.fondo{
    background-color: rgba(0, 0, 0, 0);
    width: 10%;
    height: 10%;
}

.fondo #logo{
    color: #db0000;
    font-family: 'Bebas Neue', cursive;    
    font-size: 300%;
    text-align: center;
    margin-left: 50px;
}
.login{
    background-color: rgba(0, 0, 0, 0.6);
    width: 500px;
    height: 700px;
    margin-left: 32%;
    position: absolute;
}
.login h2{
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    margin-left: 50px;
    width: 250px;
    margin-top: 50px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.vinculos{
    background-color: #000000a9;
    width: 100%;
    height: 300px;
    margin-top: 800px;
    position: absolute;
}
