body{
    margin: 0;
    /* background-color: black; */
    user-select: none;
}
/* .contenedor-nav{
    background-color: rgb(255, 2, 2);
    position: absolute;
    display: block;
    width: 100%;
    height: 68px;
    
} */
.contenedor-nav .cartelera{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(to top, black, transparent); */
}

.icon-logo{
    width: 120px;
    height: 68px;
    display: block;
    position: absolute;

}
.icon-logo img{
    width: 96px;
    height: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 56px;
    padding-right: 10px;
    display: inline-block;
}

.contenedor-nav .menu{
    display: block;
    position: absolute;
    right: 0px;
    width: 100%;
    height: 68px;
    background-color: rgb(20, 20, 20);
    background: linear-gradient(to bottom, black, transparent);
    margin-left: 50px;
    
    
}
.menu-navegacion{
    background-color: rgba(223, 76, 23, 0);
    display: inline-block;
    width: 550px;
    height: 68px;
    position: absolute;
    left: 180px;
    

}
.contenedor-nav .primer-menu{
    background-color: rgba(90, 8, 243, 0);
    position: absolute;
    left: 15px;
    display: inline-block;
    width: 500px;
    margin-left: 5px;
    margin-top: 25px;
    padding-left: 10px;
    align-items: center;
}
.contenedor-nav .primer-menu li{
    list-style: none;
    display: inline-block;
    margin-left: 18px;
    text-decoration-line: none;
    font-size: 16px;
    text-decoration: solid;
    
}
.primer-menu a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;  
}
a:hover{
    color: rgba(20, 20, 20, 0);
    transition: .4s;
}

/* iconos navegacion secundaria */

.navegacion-secundaria{
    background-color: rgba(255, 127, 80, 0);
    position: absolute;
    left: 500px;
    display: inline-block;
    width: 207px;
    height: 68px;
    margin-left: 500px;
    padding: 1px;

}
.navegacion-secundaria .busqueda{
    background-color: rgba(0, 0, 255, 0);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-left: 10px;
}
.navegacion-secundaria .kids{
    background-color: rgba(0, 255, 255, 0);
    width: 40px;
    height: 24px;
    display: inline-block;
    padding: 2px 1px 2px 1px;
    margin-left: 15px;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 22px;
}

.kids a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 255, 0);
    width: 40px;
    height: 65px;
    text-align: center;
    font-size: 14px;
   
    
}
.navegacion-secundaria .notificaciones{
    background-color: rgba(255, 105, 180, 0);
    width: 25px;
    height: 24px;
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 100px;
    
}
.navegacion-secundaria .perfiles img{
    display: inline-block;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    padding-top: 2px;
}

.navegacion-secundaria .perfiles{
    background-color: rgba(252, 5, 5, 0);
    width: 60px;
    height: 40px;
    margin-left: 9px;
    margin-top: 5px;
    display: inline-block;
    position: absolute;
    left: 140px;
    top: 9px;
}
.navegacion-secundaria .perfiles .triangulo{
    display: inline-block;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: #fff transparent transparent transparent;
    margin-bottom: 12px;
}
/* section */
.container-info{
    width: 512.266px;
    height: 526.500px;
    position: absolute;
    top: 0;
    bottom: 35%;
    left: 4%;
    width: 36%;
    display: flex;
    flex-direction: column;


}

.titulo-sinopsis{
    position: absolute;
    top: 36%;
    left: 4%;
    display: block;
    width: 512.266px;
    height: 373.484px;
    background-color: rgba(0, 255, 255, 0);
}
.cartel-titulo .img-titulo{
    width: 100%;
    height: 218px;
}
.sinopsis .info{
    width: 100%;
    height: 69px;
    font-size: 1.2vw;
    line-height: normal;
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.botones-play-info{
    background-color: rgba(137, 43, 226, 0);
    width: 100%;
    height: 50px;
}
